<main>
  <h1><%= t :exams, scope: [:titles], count: @exams.count %></h1>
  <%= link_to "Nuevo Examen", new_exam_path %>

  <section class="cards">
    <%= render @exams %>
  </section>

  <%= paginate @exams %>
</main>
